* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  background-image: url("../img/bg2.png");
  background-size: 20%;
  font-family: "DM Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

header { position: fixed; width: 100%; z-index: 1000; top:0px; } 


#logo {
  border-radius: 10px;
  width: 50px;
}




li:hover
{
  background-color: orangered;
  color: white;
  text-transform: uppercase;
}

#carouselSection{
  
  width: 75%;
  height: 80%;

}


#imagen {
  margin-left: 120px;
  border-style: none;
  box-shadow:trfe 40px 40px 50px orangered;
}


.linea {
  position: absolute;
  top: -10px;

  color: white;
  font-size: 20px;
}

.botonMenu {
  border: black;
  background-color: rgb(5, 5, 88);
  font-size: 18px;
  padding-top: 8px;
  height: 40px;
  width: 170px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
}

.imagenNuevoMundo {
  border-color: orange;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  width: 60%;
}

.centrado {
  margin-left: 300px;
}

.icons {
  z-index: 10;
  font-size: 26px;
  margin: 0px;
  color: black;
}

#superior
{
  width: 100%;
  color:white;
}

#tituloPrincipal
{
  background-color: rgb(106, 80, 255);
  
  border-radius: 30px 10px 30px ;
  
  font-family: "DM Sans", sans-serif;
  text-align: left;
  padding: 10px;
  width: 100%;
  color:white;
}

#textoPrincipal {
  display: block;
  background-color: rgb(106, 80, 255);
  opacity: 150%;
  border-radius: 10px;
  font-size: 100%;
  font-family: "DM Sans", sans-serif;
  text-align: justify;
  padding: 10px;
  width: 100%;
  color: rgb(236, 219, 219);
}

#textoPrincipalH {
  display: block;
  margin-bottom: 492px;
  background-color: rgb(106, 80, 255);
  opacity: 150%;
  border-radius: 10px;
  font-size: 25px;
  font-family: "DM Sans", sans-serif;
  text-align: justify;
  padding: 10px;
  width: 1180px;
  color: rgb(236, 219, 219);
}

#textoPrincipal1 {
  background-color: orange;
  border-color: orangered;
  border-style: solid;
  padding: 10px;

  border-radius: 20px;
  color: orangered;
  font-size: 45px;
  width: 1200px;
  text-align: center;
}

#servicio {
  margin-top: 300px;
  margin-bottom: 600px;
}
#acce1 {
  position: absolute;
  left: 300px;
}
#acce2 {
  position: absolute;
  left: 620px;
}
#acce3 {
  position: absolute;
  left: 940px;
}
#acce4 {
  position: absolute;
  left: 1260px;
}

#twitter {
  position: absolute;
  top: 10px;
  left: 1240px;
}
#linkedin {
  position: absolute;
  top: 10px;
  left: 1270px;
}
#facebook {
  position: absolute;
  top: 10px;
  left: 1300px;
}
#whatsapp {
  position: absolute;
  top: 10px;
  left: 1150px;
}

footer {
  background-color: black;
  color: white;
  align-items: center;
  text-align: center;
}

.leyenda {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0%;
}

.leyendaMundo {
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0%;
  font-size: 25px;
}

#logoFooter {
  display: block;
  width: 5%;
  border-radius: 10px;
}

/* Apartado Historia */

.centradoH {
  margin-top: 200px;
  margin-left: 300px;
}

/* Apartado Contacto */

.formulario-container {
  width: 30%;
  height: 280px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 240px;

  background-color: rgb(255, 136, 0);
  border-radius: 10px;
  padding: 20px;
}

.formulario-container label {
  width: 220px;
  margin-left: 50px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

.centradoC {
  margin-top: 200px;
  margin-left: 200px;
}

   

#botonEnviar {
  width: 70px;
}

/* Apartado Servicios */

.centradoSer {
  margin-top: 50px;
  margin-left: 300px;
}

#consulta {
  width: 250px;
  height: 70px;
  resize: none;
}


 .botonMenu:hover
{
  background-color: orangered;
  color: white;
  text-transform: uppercase;
}
  
