* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
 
  
 
  
  background-size: 20%;
  
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0px;
}

#logo {
  border-radius: 10px;
  width: 50px;
}

li:hover {
  background-color: orangered;
   text-transform: uppercase;
  
}


.imgCarousel
{
  position: absolute;
  top: 88%;
  left:-2%;
 
  

}



.carouselIndex
{
  justify-content: center;
  align-items: center;
  
}


#imagen {
  margin-left: 120px;
  border-style: none;
  box-shadow: trfe 40px 40px 50px orangered;
}

/********** Menu paginas sin boostrap**********/
#inicio {
  position: absolute;
  top: 20px;
  left: 170px;
}

#historia {
  position: absolute;
  top: 20px;
  left: 350px;
}

#equipo {
  position: absolute;
  top: 20px;
  left: 530px;
}

#servicios {
  position: absolute;
  top: 20px;
  left: 710px;
}

#socios {
  position: absolute;
  top: 20px;
  left: 890px;
}

#contacto {
  position: absolute;
  top: 20px;
  left: 1070px;
}

.linea {
  position: absolute;
  top: -10px;

  color: white;
  font-size: 20px;
}

.botonMenu {
  border: black;
  background-color: rgb(5, 5, 88);
  font-size: 18px;
  padding-top: 8px;
  height: 40px;
  width: 170px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
}

.imagenNuevoMundo {
  border-color: orange;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  width: 60%;
}

.centrado {
  margin-left: 300px;
}

.icons {
 
  font-size: 26px;
  width: 100%;
  margin-left: 90%;
  color: black;
}

#superior {
  width: 100%;
  color: white;
}

#tituloPrincipal {
  background-color: rgb(226, 107, 27);

  border-radius: 30px 10px 30px;

 
  text-align: left;
  padding: 10px;

  color: white;
}



.textoPrincipal {
  display: block;
  background-color: rgb(226, 107, 27);
  opacity: 150%;
  border-radius: 10px;
  font-size: 80%;
  
  text-align: left;
  padding: 10px;
  width: 100%;
  color: rgb(236, 219, 219);
  border-radius: 30px 10px 30px;
}

#textoPrincipalH {
  display: block;
  margin-bottom: 492px;
  background-color: rgb(106, 80, 255);
  opacity: 150%;
  border-radius: 10px;
  font-size: 25px;
 
  text-align: justify;
  padding: 10px;
  width: 1180px;
  color: rgb(236, 219, 219);
}

#textoPrincipal1 {
  background-color: orange;
  border-color: orangered;
  border-style: solid;
  padding: 10px;

  border-radius: 20px;
  color: orangered;
  font-size: 45px;
  width: 1200px;
  text-align: center;
}

#servicio {
  margin-top: 300px;
  margin-bottom: 600px;
}
#acce1 {
  position: absolute;
  left: 300px;
}
#acce2 {
  position: absolute;
  left: 620px;
}
#acce3 {
  position: absolute;
  left: 940px;
}
#acce4 {
  position: absolute;
  left: 1260px;
}

footer {
  background-color: black;
  color: white;
  align-items: center;
  text-align: center;
}

.leyenda {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0%;
}

.leyendaMundo {
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0%;
  font-size: 1rem;
}

.logo_Footer {
  margin-top: 20px;
  width: 50%;
  border-radius: 10px;
}


.leyendaFooter
{
  text-align: left !important;
  display: block;
  margin-bottom: 0px;
  font-size: 1rem;
}

.redes
{
  margin-top: 5px;
  width: 15%;
  font-size: 2rem;
  text-align: center  ;
}


/* Apartado Historia */

.centradoH {
  margin-top: 200px;
  margin-left: 300px;
}

/* Apartado Contacto */
#mapa {
  height: 400px;
}
#formulario {
  background-color: rgb(226, 107, 27);
  border-radius: 30px 10px 30px;
  color: white;
}
/* Apartado Servicios */

.centradoSer {
  margin-top: 50px;
  margin-left: 300px;
}

#consulta {
  width: 250px;
  height: 70px;
  resize: none;
}

.botonMenu:hover {
  background-color: orangered;
 
  text-transform: uppercase;
}

/*****Institucional****/

.altoCard
{
  height: 100% !important;
}

