.fondoBg
{
  background: rgb(246,206,43);
  background: linear-gradient(45deg, rgba(246,206,43,1) 0%, rgba(231,147,10,1) 0%, rgba(232,137,23,1) 48%, rgba(244,5,202,1) 100%);
}
.titulo_page
  {
    
    font-size: 4rem;
    
    color:orangered;
    display: inline;
  }

  
  .titulo_page2
  {
   
    font-size: 4rem;
    
    color:rgb(102, 19, 102);
    display: inline;
  }