body {
  background-size: 20%;
  font-family: 'EB Garamond', serif;
  width: 100%;


.fondoBg
{
  background: rgb(246,206,43);
  background: linear-gradient(45deg, rgba(246,206,43,1) 0%, rgba(231,147,10,1) 0%, rgba(232,137,23,1) 48%, rgba(244,5,202,1) 100%);
}


}