* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: 20%;
  font-family: 'EB Garamond', serif;
  width: 100%;

  header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;

    .botonMenu:hover {
        background-color: orangered;
       
        text-transform: uppercase;
      }

      li:hover {
        background-color: orangered;
        text-transform: uppercase;
      }
  }

  #logo {
    border-radius: 10px;
    width: 50px;
  }

  .titulo_page
  {
    
    font-size: 4rem;
    
    color:orangered;
    display: inline;
  }

  
  .titulo_page2
  {
   
    font-size: 4rem;
    
    color:rgb(102, 19, 102);
    display: inline;
  }
  .subTituloPage{
 
  font-size: 1.5rem;
  position: absolute;
  top:120px;
  
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 1s;
}

@keyframes example {
  0%   {left:0px; top:0px;}
  100% { left:0px; top:120px;}
}
  .imgCarousel {
    width:100% !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .carouselIndex {
    justify-content:center;
    align-items: center;
  }

  footer {
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
  }

  .logo_Footer {
    margin-top: 20px;
    width: 20rem;
    border-radius: 10px;
    
  }
  
  
  .leyendaFooter
  {
    
    text-align: left !important;
    display: block;
    font-size: 1rem;
  }
  
  .redes
  {
    margin-top: 5px;
    width: 15%;
    font-size: 2rem;
    text-align: center  ;
  }

}
