* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: 20%;
  font-family: 'EB Garamond', serif;
  width: 100%;

  .bgMenu
  {
    background-color: orangered;
  }

  .fondoCarousel
  {
    background-color: orangered;
  }


  header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;

    .botonMenu:hover {
        background-color: orangered;
       
        text-transform: uppercase;
      }

      li:hover {
        background-color: orangered;
        text-transform: uppercase;
      }
  }

  #logo {
    border-radius: 10px;
    width: 50px;
  }

  .titulo_principal
  {
    //position: absolute;
    //top:65px;
    //left:10px;
    //width: auto;
    z-index: 2;
    //background-color: rgb(240, 248, 248);
    border-radius: 10px;
    
  } 

  .titulo_page
  {
    
    font-size: 3rem !important;
    
    color:orangered;
    display: inline;
  }

  
  .titulo_page2
  {
   
    font-size: 3rem !important;
    
    color:rgb(102, 19, 102);
    display: inline;
  }
  .subTituloPage{
    z-index:2;
  font-size: 1.2rem;
  position: absolute;
  top:100px;
  animation-name: tituloMove;
  animation-duration:1s;
  animation-delay: 1s;
}

@keyframes tituloMove {
  0%   {left:0px; top:0px;}
  100% { left:0px; top:100px;}
}
  .imgCarousel {
    width:100% ;
    justify-content: center !important;
    align-items: center !important;
  }

  .carouselIndex {
    justify-content:center;
    align-items: center;
    
  }

  .bgOrange
  {
    background-color: rgb(255, 95, 2);
    color: white;
    font-size: 1rem;
    
  }
  footer {
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
  }

  .logo_Footer {
    margin-top: 20px;
    width: 20rem;
    border-radius: 10px;
    
  }
  
  
  .leyendaFooter
  {
    
    text-align: left !important;
    display: block;
    font-size: 1rem;
  }
  
  .redes
  {
    margin-top: 5px;
    width: 15%;
    font-size: 2rem;
    text-align: center  ;
  }

}
