* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: 20%;
  font-family: "Rubik", sans-serif;
  width: 100%;

  header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
  }

  #logo {
    border-radius: 10px;
    width: 50px;
  }

  li:hover {
    background-color: orangered;
    text-transform: uppercase;
  }

  .imgCarousel {
    position: absolute;
    top: 88%;
    left: -2%;
  }

  .carouselIndex {
    justify-content: center;
    align-items: center;
  }

  footer {
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
  }

  .logo_Footer {
    margin-top: 20px;
    width: 20%;
    border-radius: 10px;
  }
  
  
  .leyendaFooter
  {
    text-align: left !important;
    display: block;
    margin-bottom: 0px;
    font-size: 1rem;
  }
  
  .redes
  {
    margin-top: 5px;
    width: 15%;
    font-size: 2rem;
    text-align: center  ;
  }
}
