.imgGaleria:hover
{
    width: 200%;
    height: 200%;
    z-index: 2;
}

.imgCardGaleria{
  // background: rgb(241,66,16);
   // background: linear-gradient(45deg, rgba(241,66,16,1) 0%, rgba(241,187,13,1) 100%, rgba(0,212,255,1) 100%);

}